.main {
  padding-top: 45px;
}

.main--overlay {
  position: relative;

  &::before {
    @include before;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $overlay;
    z-index: 5;
  }
}

.main__videos {
  @include flex_center;
  flex-wrap: wrap;
  padding: 0 21px;
  margin: 0 -21px;
}

.main__video {
  width: calc(33.33% - 21px*2);
  margin: 0 21px;
  margin-bottom: 20px;
}

@media (max-width: $tablet_max) {
  .main__videos {
    padding: 0 20px;
    margin: 0 -10px;
  }

  .main__video {
    width: calc(33.33% - 10px*2);
    margin: 0 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile_max) {
  .main__videos {
    padding: 0;
    margin: 0 -3px;
  }

  .main__video {
    margin-bottom: 10px;
  }
}

@media (max-width: 635px) {
  .main {
    padding-top: 35px;
  }
}
