html,
body {
  height: 100%;
  font-size: $main_font*1px;
}

body {
  min-width: $mobile_min;
  margin: 0;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  word-wrap: normal;
  color: $black;
  background-color: $white;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  color: $black;
  text-decoration: none;
}

a:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button:not([disabled]) {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.body_hidden {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}
