.video {
  position: relative;
}

.video__img {
  overflow: hidden;
  border-radius: $br_1;
  height: 0;
  padding-bottom: 80%;
}

.video__label {
  @include font($fs_12);
  position: absolute;
  padding: 8px 10px;
  padding-bottom: 5px;
  top: 0;
  right: 10%;
  transform: translateY(-50%);
  color: $white;
  background-color: $label;
  text-transform: uppercase;
  border-radius: $br_04;
  z-index: 3;
}

.video--btn {
  @include flex_center(1);
}

.video__btn {
  @include flex_center(1);
  @include font($fs_9);
  flex-direction: column;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  background-color: $btn_more;
  color: $white;
  text-transform: uppercase;

  span {
    display: flex;
    width: 23px;
    height: 10px;
    margin-bottom: 15px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    background-position: center;
  }
}

@media (max-width: $tablet_max) {
  .video__img {
    padding-bottom: 100%;
  }

  .video__label {
    padding: 5px 5px 3px;
    right: 9%;
    transform: translateY(-30%);
  }
}

@media (max-width: $mobile_max) {
  .video__label {
    @include font($fs_9);
  }
}

@media (max-width: 400px) {
  .video__label {
    padding: 5px 5px 3px;
    letter-spacing: -0.3px;
  }
}
